<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="about">
    <p>About me</p>
    <div>
        <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore iure laudantium reiciendis doloremque, ex saepe
        laborum
        eaque cum doloribus deserunt autem tempore sequi accusamus repellendus ut tempora distinctio ea consequuntur. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Officia asperiores autem obcaecati eum
        ipsum reiciendis, nihil vitae aut tempore iure magni itaque impedit, amet nemo id sequi libero unde veritatis.
        </div>
        <div id="margintop">
                <a href="https://drive.google.com/file/d/1-WfNvJa82IeWyGW8yRVSUzssfvt1CdD-/view?usp=sharing"><button>Download
                        cv</button></a>
        </div>
        </div>
    </div>
</body>
</html>
