<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Skills</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae cupiditate cumque ullam consequuntur tenetur, 
            voluptatum praesentium dicta mollitia eos nostrum nulla enim corporis labore, ducimus odit. Dolor, nostrum unde! Lorem 
            ipsum dolor, sit amet consectetur adipisicing elit. Dolor ea praesentium animi similique incidunt velit accusamus repellendus labore, excepturi voluptas, in asperiores illo necessitatibus natus eum corrupti sed hic! Blanditiis.</p>
            <div id="skillscont">
                <div id="html" class="scont">
                    <div class="r">HTML</div>
                    <div class="m"></div>
                    <div class="l"></div>
                </div>
                <div id="css" class="scont">
                    <div class="r">CSS</div>
                    <div class="m"></div>
                    <div class="l"></div>
                </div>
                <div id="js" class="scont">
                    <div class="r">Javascript</div>
                    <div class="m"></div>
                    <div class="l"></div>
                </div>
                <div id="lin" class="scont">
                    <div class="r">Linux</div>
                    <div class="m"></div>
                    <div class="l"></div>
                </div>
                <div id="ang" class="scont">
                    <div class="r">Angular</div>
                    <div class="m"></div>
                    <div class="l"></div>
                </div>
            </div>
    </div>
</body>
</html>
