body{
    color: whitesmoke;
}
body>div{
    background-color: darkslategray;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.scont{
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
#skillscont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* body > div{
    margin-left: 100px;
    margin-right: 100px;
} */
.r{
    width: 30%;
    background-color: darkgray;
    text-align: center;
}
#html .m{
    width: 60%;
    background-color: darkkhaki;
}
#html .l{
    width: 10%;
    background-color: white;
}
#css .m{
    width: 40%;
    background-color: darkkhaki;
}
#css .l{
    width: 30%;
    background-color: white;
}
#js .m{
    width: 50%;
    background-color: darkkhaki;
}
#js .l{
    width: 20%;
    background-color: white;
}
#lin .m{
    width: 35%;
    background-color: darkkhaki;
}
#lin .l{
    width: 35%;
    background-color: white;
}
#ang .m{
    width: 20%;
    background-color: darkkhaki;
}
#ang .l{
    width: 50%;
    background-color: white;
}
h1{
    text-align: center;
    margin-top: 0;
}